label {
  background: #ae5f75;
  /* height: 69px; */
  width: 100%;
  display: block;
  border-bottom: 1px solid #6c99c5;
  color: #fff;
  text-transform: capitalize;
  /* font-weight: 900; */
  font-size: 11px;
  letter-spacing: 1px;
  text-indent: 20px;
  cursor: pointer;
  transition: all 0.7s ease;
  position: relative;
  padding: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
label h3 span {
  display: block;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: normal;
  color: #fff;
}
label h3 {
  word-break: break-word;
  padding-right: 20%;
  padding-left: 5%;
}
label p {
  padding-right: 15%;
  word-break: break-word;
}
#label-1 {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #fff !important;
  display: block;
  position: absolute;
  /* border-radius: 67%; */
  /* right: 20px; */
  top: 30%;
  transition: border 0.7s ease;
}
/* #label-1:checked ~ label[for="label-1"] {
  background: #6d335c;
  border-bottom: 1px solid #34495e;
  color: #d37b79;
}
#label-1:checked ~ label[for="label-1"] h2 span {
  color: #f6bd66;
}
#label-1:checked ~ label[for="label-1"]:before {
  background: url("https://i.imgur.com/eoPQ05r.png") no-repeat center center;
} */
.fa-edit {
  font-size: 20px !important;
  position: absolute;
  right: 76px;
  top: 33%;
}
.fa-trash {
  font-size: 20px !important;
  position: absolute;
  right: 30px;
  top: 32%;
}

input[type="checkbox"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background: lightgray;
  height: 16px;
  width: 16px;
  border: 1px solid white;
}

input[type="checkbox"]:after {
  content: "";
  position: relative;
  left: 40%;
  top: 20%;
  width: 25%;
  height: 40%;
  border: solid #4d244e;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}

input[type="checkbox"]:checked:after {
  display: block;
}
